.login-headline {
  letter-spacing: 0.02em;
  font-family: 'IBM Plex Sans', sans-serif;
}

.login-label {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.44px;
  color: rgba(13, 13, 13, 0.9);
  opacity: 0.64;
}

.login-button-text {
  letter-spacing: 0.44px;
}

